<!-- <div class="list-group row">
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Popular Post 1</h4>
        <p class="list-group-item-text">Author 1</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Popular Post 2</h4>
        <p class="list-group-item-text">Author 2</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Popular Post 3</h4>
        <p class="list-group-item-text">Author 3</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Popular Post 4</h4>
        <p class="list-group-item-text">Author 4</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Popular Post 5</h4>

        <p class="list-group-item-text">Author 5</p>
    </a>
</div> -->
<div class="list-group row">
  {{#each posts}}
  <!-- <p>Pid: {{pid}}, Title: {{title}}, Content: {{content}}, Author: {{author}}</p> -->
    <a href="post?pid={{_id}}" class="list-group-item">
      <h4 class="list-group-item-heading">{{{title}}}</h4>
      <p class="list-group-item-text">by: {{{author}}}</p>
    </a>
  {{/each}}
</div>
